# dependencies
node_modules/

# production builds
/.output
/.nuxt
/dist

# temporary tooling
/.vite
/.vercel
.nitro/

# env files
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# editor garbage
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
